:root {
    /* Colors */
    --primary: #0091ea;
    --primary-light: #7bbde6;
    --accent: #546e7a;
    --grey: #445;
    --error: #f52;
    --background: #f5f5f6;
    --background-accent: #cfe5f2;
    --white: #fff;
    --border: #99a;
    /* Sizes */
    --radius: 10px;
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 20px;
    --space-xl: 40px;
  }
  
  /* ------------------------------------------------------------------------ */
  /* Micro reset */
  /* ------------------------------------------------------------------------ */
  
  * {
    box-sizing: border-box;
  }
  
  
  /* ------------------------------------------------------------------------ */
  /* General styles */
  /* ------------------------------------------------------------------------ */
  .error {
    color: var(--error);
    margin: var(--space-xs) 0;
}